{% load i18n %}
{% load comments %}
{% load comments_ink %}

{% with anchor=comment|get_anchor %}
<div id="comment-{{ comment.id }}" class="comment-box-img {% comment_css_thread_range comment %}">
  {{ comment.level|indent_divs }}
  <div class="user-avatar">
    {% get_user_avatar_or_gravatar comment.user_email "36,identicon" %}
  </div>
  <div class="comment">
    <div class="header">
      <div>
        {% if not comment.is_removed and comment_votes_enabled and comment.level == 0 %}
          <div class="inline-block" id="cm-votes-{{ comment.id }}">
            {% include "comments/comment_votes.html" %}
          </div>
          &sdot;
        {% endif %}
        {% if comment.url and not comment.is_removed %}
          <a href="{{ comment.url }}" target="_new">{{ comment.name }}</a>
        {% else %}
          {{ comment.name }}
        {% endif %}
        &sdot;
        <span class="muted">{{ comment.submit_date }}</span>
        <a class="permalink" title="comment permalink" href="{% get_inkcomment_permalink comment None cfold %}">¶</a>
      </div>
      {% if not comment.is_removed and comment_flagging_enabled and is_input_allowed %}
        <div class="flex-row-right" id="cm-flags-{{ comment.id }}">
          {% include "comments/comment_flags.html" %}
        </div>
      {% endif %}
    </div>
    <div class="body body-bordered">
      {% if comment.is_removed %}
        <p class="muted">
          {% trans "This comment has been removed." %}
        </p>
      {% else %}
        {{ comment.comment|linebreaks|escape }}
      {% endif %}
    </div>
    <div id="cm-feedback-{{ comment.id }}" class="feedback feedback-bordered">
      {% if not comment.is_removed %}
        {% if comment_reactions_enabled %}
          <div id="cm-reactions-{{ comment.id }}" class="reactions">
            {% include "comments/comment_reactions.html" %}
          </div>
        {% endif %}
        {% if comment_reactions_enabled and is_input_allowed %}
          <div class="inline-block sepseq">
            <a data-dci="reactions-panel" data-comment="{{ comment.id }}" class="small" data-user-auth="{{ user.is_authenticated }}" href="{% url 'comments-ink-react' comment.id %}{% if page_obj %}?{% render_qs_params page page_obj.number %}{% endif %}#{{ anchor }}" {% if not user.is_authenticated %}data-login-next="{% get_inkcomment_permalink comment None cfold %}"{% endif %}>{% trans "React" %}</a>
          </div>
        {% endif %}
      {% endif %}
      {% if comment.level == 0 and comment.nested_count and not comment.is_removed %}
        <div class="inline-block">
          <span id="comment-{{ comment.id}}-replies" data-dci="nreplies" data-comment="{{ comment.id }}" class="small">{% blocktrans count replies=comment.nested_count%}One reply{% plural %}{{ replies }} replies{% endblocktrans %}</span>
          {% if cfold|has_comment:comment %}<a href="?{% render_qs_params unfold comment %}#{{ anchor }}" class="rotate180">&mapstoup;</a>{% else %}<a href="?{% render_qs_params fold comment %}#{{ anchor }}" class="rotate180">&mapstodown;</a>{% endif %}
        </div>
      {% elif comment.level != 0 and comment.nested_count and not comment.is_removed %}
        <div class="inline-block">
          <span id="comment-{{ comment.id}}-replies" data-dci="nreplies" data-comment="{{ comment.id }}" class="small">{% blocktrans count replies=comment.nested_count%}One reply{% plural %}{{ replies }} replies{% endblocktrans %}</span>
          <a href="#" id="fold-{{ comment.id}}" data-dci-action="fold" data-dci-replies="{{ comment.nested_count }}" class="rotate180 hide">&mapstodown;</a><a href="#" id="unfold-{{ comment.id}}" data-dci-action="unfold" data-dci-replies="{{ comment.nested_count }}" class="rotate180 hide">&mapstoup;</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endwith %}
