{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_ink %}

{% block title %}{{ block.super }}&nbsp;&bull;&nbsp;stories{% endblock %}

{% block nav-stories-class %}active{% endblock %}

{% block content %}
<main>
  <article>
    <h2 class="text-center">List of stories</h2>
    <div class="inline-centered {% dci_custom_selector %}">
      {% if object_list %}
        <ul>
          {% for story in object_list %}
            {% get_comment_count for story as comment_count %}
            <li>
              <div class="inline flex flex-align-center">
                <a href="{{ story.get_absolute_url }}">{{ story.title }}</a>
                <span class="small">{{ story.published_time|date:"d-F-Y" }}</span>
                {% if comment_count %}
                  &nbsp;
                  <span class="emoji">&#128172;</span>
                  <span class="small">{{ comment_count }}</span>
                  &nbsp;
                {% endif %}
                {% render_object_reactions for story %}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <h5>There are no published stories yet.</h5>
      {% endif %}
    </div>
  </article>
</main>
{% endblock %}
