{% extends "comments/base.html" %}

{% load i18n %}
{% load comments_ink %}

{% block title %}{% blocktrans %}Who reacted with {{ reaction }}{% endblocktrans %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% blocktrans with reaction_icon=reaction.icon %}Who reacted with <span class="emoji">&{{ reaction_icon }};</span>?{% endblocktrans %}</h2>
      <h6 class="text-center pb24">
        <a href="{{ object.get_absolute_url }}">{{ object }}</a>
      </h6>
    </div>
    <div class="central-column">
      <div class="{% dci_custom_selector %} pb32">
        <section class="reaction-form">
          {% if authors|length > 0 %}
            <ul>
              {% for name in authors %}
                <li>{{ name }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <h5 class="text-center">{% blocktrans %}No user reacted yet with {{ reaction }}{% endblocktrans %}</h5>
          {% endif %}
        </section>
      </div>
    </div>
  </article>
</main>
{% endblock %}
