{% extends "comments/base.html" %}

{% load i18n %}
{% load comments %}
{% load comments_ink %}

{% block title %}{% trans "Thank you for your feedback" %}{% endblock %}

{% block content %}
<main>
  <article>
    <div class="container">
      <h2 class="text-center">{% trans "Thanks for taking the time to participate." %}</h2>
      <h6 class="text-center pb24">
        {% trans "Your reaction has been added." %}
      </h6>
    </div>

    <div class="central-column">
      <h6 class="text-center">
        <a href="{{ object.get_absolute_url }}{% if qs_params %}?{{ qs_params }}{% endif %}">{% trans "Go back to the page." %}</a>
      </h6>
    </div>
  </article>
</main>
{% endblock %}
